<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist</title>
</head>
<body>
    Start Dessert Menu<br>
    Add Saved values from db into form on page load<br>
    different colors for input placeholder and value?<br>
    SAVE button border green/red<br>
    implement sequence changing<br>
    start dessert menu<br>
    staff 86 list<br>
    environment variable: MAGIC_WORD / SECRET_WORD / CODE_WORD<br>
     to instantly change route of /edit /manage<br>
     <br>
     Add printable liquors page<br>
     Buy portable COLOR inkjet printer to demonstrate h1, h2, h3... continuity across pages<br>
     Check iPad discrepancies<br>
     add CRUD functionality to /checklist route<br> 
     implement SPECIALS "Archive" option<br>
    use cron-jobs.org to hide/show specials between 12:00am-5:00pm<br>
    stop web crawlers from indexing /edit /manage routes<br>
    ModeMailer / Traversy<br>
    add timestamps to menu items to sort archives by newest date on top<br>
    setTimeout 250ms fine-tune to fastest speed<br>
    pics=protein position/placement on plates<br>
    
    
    <br><br><br><br><br>
    PRESENTATION / SALES PITCH<br><br>
    3 Documents in 1: website/paper menus/staff training<br>
    make clone website the root route with specials toggle swith off then on<br>
    allergies page for staff<br>


     <br><br><br><br><br>
     fly.io free full-stack hosting w cc# on file


</body>
</html>