*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face{
    font-family: FuturaLight;
    src: url("assets/FuturaLight.otf");
}
@font-face{
    font-family: FuturaHeavy;
    src: url("assets/FuturaHeavy.otf");
}
.name, h1{
    font-family: FuturaLight;
}
h2{
    font-family: FuturaHeavy;
}
.del, .edit, .archive{
    cursor:pointer;
    font-size:20px;
}
.allergies{
    color:red;
}
.edit{
    color:rgb(183, 183, 0);
}
.archive{
    color:blue;
}
ul{
    list-style-type:none;
}
.name, .price{
    font-weight:900;
}